---
import Product from "./Product.astro";

interface Props {
    products: any[]
}

const {products} = Astro.props
---


<div class="grid gap-5 col-start-1 col-end-3 sm:grid-cols-2 md:grid-cols md:gap-4 lg:grid-cols-3 xl:grid-cols-4">
    {
        products.map((product: any) => (
            <Product
            body={product.description}
            title={product.title}
            href={product.images[0]}
            id={product.id}
            category={product.category}
            price={product.price}
            score={product.rating}
            />
        ))
    }
</div>