---
interface Props {
	id: number;
	title: string;
	body: string;
	href: string;
	category: string;
	price: number;
	score: number;
}

const { id, href, title, body, category, price, score } = Astro.props;
const { i } = Astro.params
---

<li class="group bg-gray-800 p-0 list-none rounded-lg shadow-sm transition ease-in-out bg-bottom hover:bg-top hover:bg-gradient-to-r to-cyan-500 from-blue-800">
	<a class="w-full " href=`/products/${id}`>
		<img class="object-fill w-full" src={href} alt={title} srcset="">
		<h2 class="m-0 text-2xl transition ease-in-out group-hover:text-yellow-400 font-bold">
			{title}
		</h2>
		<div class="space-y-5 [&>p]:mt-3 [&>p]:mb-0">
			<p>
				{body}
			</p>
			<p>
				{category}
			</p>
			<p>{price}$</p>
			<p>{score}</p>
		</div>
	</a>
</li>
