---
import Product from "./Product.astro";

interface Props {
    products: any[]
}

const {products} = Astro.props
---


<div class="grid gap-5 col-start-1 col-end-3 sm:grid-cols-2 md:grid-cols md:gap-4 lg:grid-cols-3 xl:grid-cols-4">
    {
        products.length > 0 
            ? products.map((product: any) => (
                <Product
                body={product.description}
                title={product.title}
                href={product.t[0]}
                id={product.id}
                category={product.category}
                price={product.price}
                score={product.rating}
                />
            ))
            : <div>
                <span>There are no articles that match your search</span>
                <ul class="ml-6 list-disc">
                    <li>Check the spelling of the word.</li>
                    <li>Use more generic words or fewer words.</li>
                </ul>
            </div> 
    }
</div>