---
import type { GetStaticPaths } from "astro";
import { getAllProducts, getProductById } from "../../services/products";
import Header from "../../layouts/Header.astro";
import ProductGallery from "../../components/preact/ProductGallery"
import Button from "../../components/Button.astro";
import RatingStars from "../../components/RatingStars.astro";

export const prerender = true
const { id } = Astro.params

if (!id) {
	return
}

const product = await getProductById({id})

if (!product) {
	return
}

export const getStaticPaths = (async () => {
	return getAllProducts().then(result => 
	result.map(product => ({
		params: { id: product.id}
	})))
}) satisfies GetStaticPaths;
---

<Header title={product?.title} search="">
    <main class="max-w-4xl mx-auto">
		<div class="product-layout sm:product-layout-sm">
			<h2 class="title text-3xl font-bold mb-4">{product?.title}</h2>
			<div class="gallery">
				<ProductGallery client:load images={product.images}/>
			</div>
			<strong class="price mt-4 sm:m-0 text-3xl font-normal self-end text-right text-gray-800">{product.price}$</strong>
			<div class="stars grid items-start content-start">
				<span class="text-gray-600 text-right">Stock: {product?.stock}</span>
				<RatingStars rating={product.rating} />
			</div>
			<p class="brand mt-4 text-sm text-gray-500">Brand: {product?.brand}</p>
			<p class="description mt-2 min-h-[80px]">{product?.description}</p>
			<div class="buttons flex gap-4 justify-evenly mb-5">
				<Button className="text-4xl font-normal py-4 px-8">Buy</Button>
				<Button className="text-4xl font-normal py-4 px-6">Share</Button>
			</div>
		</div>
	</main>
</Header>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer utilities {
		.product-layout {
			display: grid;
			grid-template-areas:
			"title title"
			"gallery gallery"
			"none price"
			"none stars"
			"brand brand"
			"description description"
			"buttons buttons";
		}
		.product-layout-sm {
			display: grid;
			grid-template-areas:
			"gallery  title title"
			"gallery  none price"
			"gallery  brand stars"
			"gallery  description description"
			"gallery  buttons buttons";
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 3em;
			row-gap: 0;
		}
	}
	.title {
		grid-area: title;
	}

	.gallery {
		grid-area: gallery;
	}

	.price {
		grid-area: price;
	}

	.stars {
		grid-area: stars;
	}

	.description {
		grid-area: description;
	}

	.buttons {
		grid-area: buttons;
	}

	.brand {
		grid-area: brand;
	}

</style>