---
import type { GetStaticPaths } from "astro";
import { getAllProducts, getProductById } from "../../services/products";
import Header from "../../layouts/Header.astro";
import ProductGallery from "../../components/preact/ProductGallery"

export const prerender = true
const { id } = Astro.params

if (!id) {
	return
}

const product = await getProductById({id})

if (!product) {
	return
}

export const getStaticPaths = (async () => {
	return getAllProducts().then(result => 
	result.map(product => ({
		params: { id: product.id}
	})))
}) satisfies GetStaticPaths;
---

<Header title={product?.title} search="">
    <main>
		<h2 class="text-3xl font-bold">{product?.title}</h2>
		<ProductGallery client:load images={product.images}/>
		<p>{product?.description}</p>
		<p>{product?.price}$</p>
		<p>Brand: {product?.brand}</p>
		<p>Stock: {product?.stock}</p>
		<button>Buy</button>
		<button>Share</button>
	</main>
</Header>