---
import Product from '../../components/Product.astro'
import Header from '../../layouts/Header.astro'
import { searchProducts } from '../../services/products'

const { searchParams } = Astro.url
const search = searchParams.get('search') || ''
const products = await searchProducts({ search })

// Default page when products search is blank
---

<Header title="products" search={search} products={products}>
	<main>
		<section>
			<ul class="grid gap-4 col-start-1 col-end-3 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 ">
				{
					products.map((product) => (
						<Product
						body={product.description}
						title={product.title}
						href={product.images[0]}
						id={product.id}
						category={product.category}
						price={product.price}
						score={product.rating}
						/>
					))
				}
			</ul>
		</section>
	</main>
</Header>
