---
import Product from "../../components/Product.astro";
import Layout from "../../layouts/Layout.astro";
import { searchProducts } from "../../services/products";

export const prerender = false
const { searchParams } = Astro.url
const search = searchParams.get('search') || ' '
const products = await searchProducts({search})
console.log({products})

// Default page when products search is blank
---

<Layout title="products.">
    <main>
        <p>Results for "{search}": {products.length}</p>
        <section>
            {
                products.map((product)=> (
                    <Product 
                        body={product.description}
                        title={product.title}
                        href={product.images[0]}
                        id={product.id} 
                        category={product.category}
                        price={product.price}
                        score={product.rating}
                    />
                ))
            }
        </section>
    </main>
</Layout>